/** {
  box-sizing: border-box; }*/

.sidebar {
  width: 20%;
  height: 50vh; // experiment with this value, try changing to 110vh
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  float:  right;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 79%;
  /*height: 200vh;*/
  min-height: 1000px;
  /*display: flex;*/
  /*flex-direction: column;*/
  float:  left;
}



.toc {
  /*position: fixed;*/
  right: 3em;
  top: 15em;
  padding: 1em;
  /*width: 14em;*/
  line-height: 2; 
  z-index: 9;
  background-color: #04AA6D;
  opacity:  .95;
  border: 1px solid #d3d3d3;
}
  .toc ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .toc ul ul {
    padding-left: 2em; }
  .toc li a {
    display: inline-block;
    color: #eee;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .toc li.visible > a {
    color: #111;
    transform: translate(5px); 
  }

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .toc-marker path {
    transition: all 0.3s ease; }

.contents {
  padding: 1em;
  max-width: 800px;
  font-size: 1.2em;
  font-family: 'Frank Ruhl Libre', sans-serif; }
  .contents img {
    max-width: 100%; }
  .contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%; }
    .contents .code-block code {
      display: block;
      background-color: #f9f9f9;
      padding: 10px; }
  .contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px; }
  .contents h2
h3 {
    padding-top: 1em; }
  .contents h2 {
    margin-top: 1.2em; }

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px; } }
